# Environment files
.env
.env.*
*.env

# Node.js
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
venv/
.env/

# Datasets & AI files
datasets/
data/
uploads/
*.csv
*.xlsx
*.json
*.h5
*.pt
*.pth
*.pkl
*.joblib

# Build folders
dist/
build/

# Expo / React Native
.expo/
.expo-shared/

# Firebase / Secrets
serviceAccountKey.json
google-services.json

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db